<!DOCTYPE html>
<html lang="cs">
<head th:include="fragments::head"/>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" th:include="fragments::nav"/>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">Docházka</li>
        </ol>

        <div class="card mb-3">
            <!--Table Card Header-->
            <div class="card-header form-row">
                <div class="col-md-9">
                    <i class="fa fa-table"></i> Výpis docházky
                </div>
                <div class="col-md-3" align="right">
                    <form method="GET" th:action="@{/filterAttendance}" th:object="${timeType}">
                        <label>Zobrazit: </label>
                        <select th:field="*{types}">
                            <option th:each="period:${T(cz.eshop.model.Types.FilterTypes).values()}"
                                    th:value="${period}"
                                    th:text="${period}">
                            </option>
                        </select>
                        <input type="submit" class="btn btn-primary" value="OK"/>
                    </form>
                </div>
            </div>
            <!--Table Card Body-->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="trainingTable" width="100%" cellspacing="0"
                           th:each="attData : ${attDataList}">
                        <thead style="color: #005cbf; font-size: large">
                        <tr>
                            <th th:text="${attData.training.title} + ' - ' +${attData.training.beginning}">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                            <table class="table table-bordered" id="attendanceTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Účastník</th>
                                </tr>
                                </thead>

                                <tbody style="font-size: 14px" th:each="usr : ${attData.users}">
                                <tr>
                                    <td th:text="${usr.firstName} + ' ' + ${usr.lastName}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Table Card Footer-->
            <div class="card-footer small text-muted">Aktualizováno dnes v 11:59 PM</div>
        </div>

        <!--Footer-->
        <footer class="sticky-footer" id="myFooter" th:include="fragments::footer"/>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>
</div>
</body>
</html>