<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Docházkový systém</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
    <!-- Custom fonts for this template-->
    <link href="../../vendor/font-awesome/css/font-awesome.min.css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <!-- Page level plugin CSS-->
    <link href="../../vendor/datatables/dataTables.bootstrap4.css" th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet"/>
    <!-- Custom styles for this template-->
    <link href="../../css/sb-admin.css" th:href="@{/css/sb-admin.css}" rel="stylesheet"/>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js" th:src="@{/vendor/chart.js/Chart.min.js}"></script>
    <script src="vendor/datatables/jquery.dataTables.js" th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js" th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js" th:src="@{/js/sb-admin.min.js}"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Docházkový systém</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <div sec:authorize="hasRole('ROLE_USER')">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="User info">
                    <a class="nav-link" th:href="@{/web/index}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Informace o uživateli</span>
                    </a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Správa">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">Správa</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseMulti">
                        <li>
                            <a class="nav-link" th:href="@{/web/user}">
                                <i class="fa fa-fw fa-dashboard"></i>
                                <span class="nav-link-text">Správa uživatelů</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" th:href="@{/web/ticket}">
                                <i class="fa fa-fw fa-gamepad"></i>
                                <span class="nav-link-text">Správa permanentek</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_TRAINER', 'ROLE_ADMIN')">

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Training">
                    <a class="nav-link" th:href="@{/web/training}">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Trénink</span>
                    </a>
                </li>
            

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Attendance">
                    <a class="nav-link" th:href="@{/web/attendance}">
                        <i class="fa fa-fw fa-file"></i>
                        <span class="nav-link-text">Docházka</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Training day">
                    <a class="nav-link" th:href="@{/web/trainingDay}">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Tréninkový den</span>
                    </a>
                </li>
                
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reminder">
                    <a class="nav-link" th:href="@{/web/reminder}">
                        <i class="fa fa-fw fa-ban"></i>
                        <span class="nav-link-text">Upomínky</span>
                    </a>
                </li>
            </div>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-envelope"></i>
                    <span class="d-lg-none">Messages
              <span class="badge badge-pill badge-primary">12 New</span>
            </span>
                    <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-bell"></i>
                    <span class="d-lg-none">Alerts
              <span class="badge badge-pill badge-warning">6 New</span>
            </span>
                    <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
                </a>
            </li>
            <li class="nav-item">
                <div sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/login}">
                        <i class="fa fa-fw fa-sign-in"></i>Login</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<footer class="sticky-footer" id="myFooter">
    <div class="container">
        <div class="text-center">
            <small>Copyright © Awesome 2018</small>
        </div>
    </div>
</footer>