<!DOCTYPE html>
<html lang="cs">

<head th:include="fragments::head"/>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" th:include="fragments::nav"/>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item active">Permanentky</li>
            </ol>

            <div id="addTicketForm" class="card mx-auto mt-5 mb-5" style="display:block">
                <div class="card-header">Nová permanentka</div>
                <div class="card-body">
                    <form method="POST" th:action="@{/web/searchUsers}" th:object="${findingUser}"
                          accept-charset="UTF-8">
                        <label for="inputFirstName">Vyhledávání</label>
                        <div class="form-row">
                            <div class="col-md-4">
                                <input class="form-control" th:field="*{firstName}" id="inputFirstName" type="text"
                                       placeholder="Vzhledej uživatele"/>
                                <!--<span class="validation" th:if="${#fields.hasErrors('firstName')}"-->
                                <!--th:errors="*{firstName}"></span>-->
                            </div>
                            <div class="col-mb-6">
                                <input type="submit" class="btn btn-primary btn-block" value="OK"/>
                            </div>
                        </div>
                    </form>

                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-table"></i>Vyhledávání
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataSearchTable" width="100%"
                                       cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Jméno</th>
                                        <th>Příjmení</th>
                                        <th>Časová permanentka</th>
                                        <th>Typ</th>
                                        <th>Přidat</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user: ${usersSearch}">
                                        <form th:action="@{/web/addTicket}" method="post">
                                            <td th:text="${user.firstName}">Jméno</td>
                                            <td th:text="${user.lastName}">Příjmení</td>
                                            <td><input type="checkbox" th:id="'isTimeTicketChecked' + ${user.id}"
                                                       name="timeTicket"
                                                       th:attr="onclick='showTicketTypeContent(' + ${user.id} + ')'"
                                                       placeholder="Typ permanentky"/></td>
                                            <td>
                                                <div th:id="'isTimeTicket' + ${user.id}" style="display: none">
                                                    <select name="timeTicketValue" class="form-control">
                                                        <option th:each="timeType : ${T(cz.eshop.model.Types.TicketTimeTypes).values()}"
                                                                th:value="${timeType}"
                                                                th:text="${timeType}">
                                                        </option>
                                                    </select>
                                                </div>
                                                <div th:id="'isPointTicket' + ${user.id}" style="display: block">
                                                    <select name="pointTicketValue" class="form-control">
                                                        <option th:each="pointType : ${T(cz.eshop.model.Types.TicketPointTypes).values()}"
                                                                th:value="${pointType}"
                                                                th:text="${pointType}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </td>
                                            <!--<td><a th:href="@{/web/addTicket(userId = ${user.id})}">OK</a></td>-->
                                            <td>
                                                <input type="hidden" name="userId" th:value="${user.id}"/>
                                                <input class="btn btn-primary btn-block" type="submit" value="OK"/>
                                            </td>
                                        </form>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--<input class="btn btn-warning small" type="reset" value="Resetovat"/>-->
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <div class="form-row">
                        <div class="col-md-9">
                            <i class="fa fa-table"></i>Tabulka parmanentek
                            <div>
                                <form method="GET" th:action="@{/web/filterTicket}" th:object="${filteredUser}">
                                    <div class="form-row">
                                        <div class="col-md-5">
                                            <input class="form-control" th:field="*{firstName}"
                                                   id="inputFilterFirstName" type="text"
                                                   placeholder="Vyhledej uživatele"/>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="submit" class="btn btn-primary" value="OK"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary btn-block" type="button" onclick="showNewTicketForm()">
                                Přidat
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Jméno</th>
                                <th>Příjmení</th>
                                <th>Datum zakoupení</th>
                                <th>Datum ukončení</th>
                                <th>Počet zbývajícíh vstupů</th>
                                <th>Odstanit</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Jméno</th>
                                <th>Příjmení</th>
                                <th>Datum zakoupení</th>
                                <th>Datum ukončení</th>
                                <th>Počet zbývajícíh vstupů</th>
                                <th>Odstanit</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="user: ${usersTicket}">
                                <td th:text="${user.firstName}">Jméno</td>
                                <td th:text="${user.lastName}">Příjmení</td>
                                <td th:text="${user.ticket.startingDate}">Datum zakoupení</td>
                                <td th:text="${user.ticket.endingDate}">Datum ukončení</td>
                                <td th:text="${user.ticket.entry}">Počet zbývajících vstupů</td>
                                <td><a th:href="@{/web/removeTicket(userId = ${user.id})}">odstanit</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Awesome 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Opravdu se chcete odhlásit?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Potvrdťe odhlášení kliknutím na tlačítko "Logout".</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Zrušit</button>
                    <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"
            th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"
            th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js" th:src="@{/vendor/chart.js/Chart.min.js}"></script>
    <script src="vendor/datatables/jquery.dataTables.js" th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"
            th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js" th:src="@{/js/sb-admin.min.js}"></script>
    <!-- Custom scripts for this page-->

    <script type="text/javascript">
        function showNewTicketForm() {
            var form = document.getElementById("addTicketForm");
            if (form.style.display == "none") {
                form.style.display = "block"
            } else {
                form.style.display = "none"
            }
        }

        function showTicketTypeContent(userId) {
            console.log(userId)
            var isTimeTicketChecked = document.getElementById("isTimeTicketChecked" + userId);
            var timeTicket = document.getElementById("isTimeTicket" + userId);
            var pointTicket = document.getElementById("isPointTicket" + userId);

            if (isTimeTicketChecked.checked) {
                timeTicket.style.display = "block";
                pointTicket.style.display = "none";
            } else {
                timeTicket.style.display = "none";
                pointTicket.style.display = "block";
            }
        }

    </script>

</div>
</body>

</html>
