<!DOCTYPE html>
<html lang="cs">
<head th:include="fragments::head"/>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" th:include="fragments::nav"/>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">Trénink</li>
        </ol>

        <div id="addTrainingForm" class="card mx-auto mt-5 mb-5" style="display:block">
            <div class="card-header">Nový trénink</div>
            <div class="card-body">
                <form method="POST" th:action="@{/web/addTraining}" th:object="${newTraining}">
                    <div class="form-group">
                        <label for="inputTitle">Název</label>
                        <input class="form-control" th:field="*{title}" id="inputTitle" type="text"
                               placeholder="Vlož název tréninku"/>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="inputStartDate">Začátek tréninku</label>
                                <input class="form-control" th:field="*{beginning}" id="inputStartDate"
                                       type="datetime-local"
                                       placeholder="Vlož datum"/>
                            </div>
                            <div class="col-md-6">
                                <label for="inputTrainingTime">Konec tréninku</label>
                                <input class="form-control" th:field="*{ending}" id="inputTrainingTime"
                                       type="datetime-local"
                                       aria-describedby="timeHelp" placeholder="Vlož čas"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCoach">Trenér</label>
                        <input class="form-control" th:field="*{coach}" id="inputCoach" type="text"
                               placeholder="Vlož trénéra"/>
                    </div>
                    <div class="form-group mb-4">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="inputCapacity">Kapacita</label>
                                <input class="form-control" th:field="*{capacity}" id="inputCapacity" type="number"
                                       placeholder="Vlož kapacitu tréninku"/>
                            </div>
                            <div class="col-md-6">
                                <label for="inputLevel">Obtížnost</label>
                                <input class="form-control" th:field="*{trainingLevel}" id="inputLevel" type="number"
                                       placeholder="Vlož obtížnost tréninku"/>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="submit" class="btn btn-primary btn-block" value="Vytvoř trénink"/>
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" name="isEditOp" th:value="${isEditOp}"/>
                    </div>
                    <input class="btn btn-warning small" type="reset" value="Resetovat"/>
                </form>
            </div>
        </div>

        <div class="card mb-3">
            <!--Table Card Header-->
            <div class="card-header">
                <div class="form-row">
                    <div class="col-md-9">
                        <i class="fa fa-table"></i> Výpis tréninků
                        <div>
                            <form method="GET" th:action="@{/web/filterTraining}" th:object="${timeType}">
                                <label>Zobrazit: </label>
                                <select th:field="*{types}">
                                    <option th:each="period:${T(cz.eshop.model.Types.FilterTypes).values()}"
                                            th:value="${period}"
                                            th:text="${period}">
                                    </option>
                                </select>
                                <input type="submit" class="btn btn-primary" value="OK"/>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-block" type="button" onClick="showForm()">Přidat</button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Název</th>
                            <th>Začátek</th>
                            <th>Konec</th>
                            <th>Level</th>
                            <th>Trenér</th>
                            <th>Kapcita</th>
                            <th style="width: 10px">Odstranit</th>
                            <th style="width: 10px">Editovat</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Název</th>
                            <th>Začátek</th>
                            <th>Konec</th>
                            <th>Level</th>
                            <th>Trenér</th>
                            <th>Kapcita</th>
                            <th>Odstranit</th>
                            <th>Editovat</th>
                        </tr>
                        </tfoot>
                        <tbody th:each="tr : ${trList}">
                        <tr>
                            <td th:text="${tr.title}"></td>
                            <td th:text="${tr.beginning}"></td>
                            <td th:text="${tr.ending}"></td>
                            <td th:text="${tr.trainingLevel}"></td>
                            <td th:text="${tr.coach}"></td>
                            <td th:text="${tr.capacity}">20</td>
                            <td><a th:href="@{/web/removeTraining(id = ${tr.id})}">odstranit</a></td>
                            <td><a th:href="@{/web/editTraining(id = ${tr.id})}" >editovat</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Table Card Footer-->
            <div class="card-footer small text-muted">Aktualizováno dnes v 11:59 PM</div>
        </div>

        <!--Footer-->
        <footer class="sticky-footer" id="myFooter" th:include="fragments::footer"/>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Opravdu se chcete odhlásit?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Potvrdťe odhlášení kliknutím na tlačítko "Logout".</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Zrušit</button>
                    <a class="btn btn-primary" th:href="@{/logout}" >Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js" th:src="@{js/sb-admin-datatables.min.js}"></script>

    <script type="text/javascript">
//        function showForm() {
//            var form = document.getElementById("addTrainingForm");
//            if (form.style.display == "none") {
//                form.style.display = "block"
//            } else {
//                form.style.display = "none"
//            }
//        }

//        function show2() {
//            var myIn = document.getElementsByName("isEditOp");
//            var form = document.getElementById("addTrainingForm");
//            if(myIn.value == true){
//                form.style.display = "block"
//            } else {
//                form.style.display = "none"
//            }
//        }
    </script>
</div>
</body>
</html>