<!DOCTYPE html>
<html lang="cs">

<head th:include="fragments::head"/>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" th:include="fragments::nav"/>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Správa</a>
                </li>
                <li class="breadcrumb-item active">Správa uživatelů</li>
            </ol>

            <!-- Vložení uživatele FORMULÁŘ -->
            <div id="addUserForm" style="display: block;" class="card mx-auto mt-5 mb-5">
                <div class="card-header">Vytvoření uživatele</div>
                <div class="card-body">
                    <form th:action="@{/web/addUser}" th:object="${userDto}" accept-charset="UTF-8" method="post">
                        <!--Basic information-->
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-2">
                                    <label for="firstName">Jméno</label>
                                    <input class="form-control" th:field="*{user.firstName}" id="firstName" type="text"
                                           name="firstName"
                                           placeholder="Jméno"/>
                                    <span class="validation" th:if="${#fields.hasErrors('user.firstName')}"
                                          th:errors="*{user.firstName}"></span>
                                </div>
                                <div class="col-md-2">
                                    <label for="lastName">Příjmení</label>
                                    <input class="form-control" th:field="*{user.lastName}" id="lastName" type="text"
                                           name="lastName"
                                           placeholder="Příjmení"/>
                                    <span class="validation" th:if="${#fields.hasErrors('user.lastName')}"
                                          th:errors="*{user.lastName}"></span>
                                </div>
                                <div class="col-md-2">
                                    <label for="birthDate">Datum narození</label>
                                    <input class="form-control" id="birthDate" th:field="*{user.bornDate}" type="date"
                                           name="bornDate"
                                           placeholder="Heslo"/>
                                    <span class="validation" th:if="${#fields.hasErrors('user.bornDate')}"
                                          th:errors="*{user.bornDate}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-2">


                                    <label for="email">E-mail</label>
                                    <input class="form-control" id="email" th:field="*{user.email}" type="email"
                                           name="email"
                                           placeholder="E-mail"/>
                                    <span class="validation" th:if="${#fields.hasErrors('user.email')}"
                                          th:errors="*{user.email}"></span>
                                </div>
                                <div class="col-md-2">
                                    <label for="mobileNr">Telefon</label>
                                    <input class="form-control" id="mobileNr" th:field="*{user.tel}" type="tel"
                                           name="mobileNr"
                                           placeholder="Telefon"/>
                                    <span class="validation" th:if="${#fields.hasErrors('user.tel')}"
                                          th:errors="*{user.tel}"></span>
                                </div>

                                <!--Domain specific information-->
                                <div class="col-md-2">
                                    <label for="firstName">Role v tělocvičně</label>
                                    <select class="form-control" th:field="*{user.role}">
                                        <option th:each="role : ${T(cz.eshop.model.Types.RoleTypes).values()}"
                                                th:value="${role}"
                                                th:text="${role}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div th:if="${isEditOp}" class="form-group">
                            <div class="form-row">
                                <input type="hidden" th:field="*{user.id}" />
                                <!--Domain specific information-->
                                <div class="col-md-2">
                                    <label for="belt">Barva pásku</label>
                                    <select id="belt" class="form-control" th:field="*{user.role}">
                                        <option th:each="role : ${T(cz.eshop.model.Types.BeltTypes).values()}"
                                                th:value="${role}"
                                                th:text="${role}">
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <label for="stripe">Počet pruhů</label>
                                    <input id="stripe" class="form-control" type="number" th:field="*{user.stripes}" />
                                    <span class="validation" th:if="${#fields.hasErrors('user.stripes')}"
                                          th:errors="*{user.stripe}"></span>
                                </div>
                                
                            </div>
                        </div>

                        <!--System security information-->
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-2">
                                    <label for="username">Uživatelské jméno</label>
                                    <input class="form-control" id="username" th:field="*{user.username}" type="text"
                                           placeholder="Uživatelské jméno"/>
                                    <span class="validation"
                                          th:if="${isUsernameUsed}">Uživatelské jméno již existuje</span>
                                    <span class="validation" th:if="${#fields.hasErrors('user.username')}"
                                          th:errors="*{user.username}"></span>
                                </div>
                                <div class="col-md-2">
                                    <label for="password">Heslo</label>
                                    <input class="form-control" id="password" type="text"
                                           th:field="*{user.password}" placeholder="Heslo"/>
                                    <span class="validation" th:if="${#fields.hasErrors('user.password')}"
                                          th:errors="*{user.password}"></span>
                                </div>
                                <div class="col-md-2">
                                    <label for="password">Role v systému</label>
                                    <select class="form-control" th:field="*{authorities.authority}">
                                        <option th:each="authority : ${T(cz.eshop.model.AuthoritiesEnum).values()}"
                                                th:value="${authority}"
                                                th:text="${authority}">
                                        </option>
                                    </select>
                                    <input type="hidden" th:field="*{authorities.authority}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-2">
                                    <label for="enabled">Povolen</label>
                                    <input id="enabled" type="checkbox" th:field="*{user.enabled}" value="Povolen"
                                           name="enabled" placeholder="Povolen"/>
                                </div>
                            </div>
                        </div>
                                
                        <input type="submit" class="btn btn-primary btn-block" value="Uložit"/>
                        <input type="hidden" name="isEditOp" th:value="${isEditOp}"/>
                    </form>
                    <div class="text-center">
                        <p class="validation" th:if="${errorMsg != null}" th:text="${errorMsg}"></p>
                    </div>
                </div>
            </div>


            <!-- Tabulka uživatelů -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>Tabulka uživatelů
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary btn-block" type="button" onClick="showForm()">Vložit uživatele
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Jméno</th>
                                <th>Příjmení</th>
                                <th>E-mail</th>
                                <th>Pásek</th>
                                <th>Počet pruhů</th>
                                <th>Role</th>
                                <th>Datum narození</th>
                                <th>Telefon</th>
                                <th>Username</th>
                                <th>Heslo</th>
                                <th>Povolen</th>
                                <th>Odstranit</th>
                                <th>Editovat</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Jméno</th>
                                <th>Příjmení</th>
                                <th>E-mail</th>
                                <th>Pásek</th>
                                <th>Počet pruhů</th>
                                <th>Role</th>
                                <th>Datum narození</th>
                                <th>Telefon</th>
                                <th>Username</th>
                                <th>Heslo</th>
                                <th>Povolen</th>
                                <th>Odstranit</th>
                                <th>Editovat</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="user: ${users}">
                                <td th:text="${user.firstName}">Jméno</td>
                                <td th:text="${user.lastName}">Příjmení</td>
                                <td th:text="${user.email}">E-mail</td>
                                <td th:text="${user.belt.name()}">Pásek</td>
                                <td th:text="${user.stripes}">Počet pruhů</td>
                                <td th:text="${user.role}">Role</td>
                                <td th:text="${user.bornDate}">Datum narození</td>
                                <td th:text="${user.tel}">Telefon</td>
                                <td th:text="${user.username}">Username</td>
                                <td th:text="${user.password}">Heslo</td>
                                <td th:text="${user.enabled}">Povolen</td>
                                <td><a th:href="@{/web/removeUser(id = ${user.id})}">odstranit</a></td>
                                <td><a th:href="@{/web/editUser(id = ${user.id})}">editovat</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Awesome 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Opravdu se chcete odhlásit?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Potvrdťe odhlášení kliknutím na tlačítko "Logout".</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Zrušit</button>
                    <a class="btn btn-primary" th:href="@{/logout}" >Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"
            th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"
            th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js" th:src="@{/vendor/chart.js/Chart.min.js}"></script>
    <script src="vendor/datatables/jquery.dataTables.js" th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"
            th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js" th:src="@{/js/sb-admin.min.js}"></script>
    <!-- Custom scripts for this page-->
    <!--<script src="js/sb-admin-datatables.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>-->
    <!--<script src="js/sb-admin-charts.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>-->
    <script type="text/javascript">
        function showForm() {
            var form = document.getElementById("addUserForm");
            if (form.style.display == "none") {
                form.style.display = "block"
            } else {
                form.style.display = "none"
            }
        }
    </script>

</div>
</body>

</html>
